@include responsive-visibility('.visible-print');

.visible-print-block {
  display: block !important;
}
.visible-print-inline {
  display: inline !important;
}
.visible-print-inline-block {
  display: inline-block !important;
}

@include responsive-invisibility('.hidden-print');